.page{
  width:400px;
  border:1px solid black;
  border-radius:12px;
  background-color:#FF6F61;
}
#time{
  border: 5px solid white;
  border-radius: 12px;
}
ul{
    list-style-type:check;
    color:white;
}
th{
    float: left;
}
td{
    border: 1px solid;
}


#watch{
    width:300px;
    text-align: center;
    margin:auto;
    padding: 20px;
}
span{
    align-content: center;
    text-align: center;
    font-size: 36px;
    font-family: sans-serif;color: white;
}
button{
  align-items: center;
  border:none;
  font-size:16px;
  text-decoration:none;
  font-family:sans-serif;
  background-color:white;
  color:#FF6F61;
  transition-duration:0.5s;
  border-radius:12px;
  padding:10px;
  font-weight:bold;
}
button:hover{
  color:white;
  background-color:#FF6F61;
}
button:active{
  transform: translateY(4px);
}
#toDo{
  width:300px;
  border:1px solid;
  margin: auto;
}
h1 {
  text-align:centre;
  color:white;
}
#submitButton{
  border:none;
  font-size:16px;
  text-decoration:none;
  font-family:sans-serif;
  background-color:white;
  color:#FF6F61;
  transition-duration:0.5s;
  border-radius:12px;
  padding:10px;
  font-weight:bold;
}
#submitButton:hover{
  color:white;
  background-color:#FF6F61;
}
#submitButton:active{
  transform: translateY(4px);
}
#submitText{
  font-size:16px;
}
