ul{
    list-style-type:none;
}
th{
    float: left;
}
td{
    border: 1px solid;
}


#watch{
    width:300px;
    border: 1px solid;
    text-align: center;
    margin:10px;
    padding: 10px;
}
span{
    align-content: center;
    text-align: center;
}
button{
  align-items: center;
  background-color: red;
  color: white;
}
#form{
  margin:15px;
  border:1x solid black;
}
#formContainer input[type=text]{
  margin:10px;
}
submitInfo
#title{
  text-align:centre;
}
